In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [239]:
uriage_data = pd.read_csv("uriage.csv")
uriage_data.head()

         purchase_date item_name  item_price customer_name
0  2019-06-13 18:02:34       商品A       100.0         深井菜々美
1  2019-07-13 13:05:29     商 品 S         NaN          浅田賢二
2  2019-05-11 19:42:07     商 品 a         NaN          南部慶二
3  2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒
4  2019-04-22 03:09:35       商品a         NaN          平田鉄二

In [241]:
uriage_data["item_name"].head()

0      商品A
1    商 品 S
2    商 品 a
3      商品Z
4      商品a
Name: item_name, dtype: object

In [242]:
uriage_data["item_price"].head()

0     100.0
1       NaN
2       NaN
3    2600.0
4       NaN
Name: item_price, dtype: float64

In [243]:
uriage_data["purchase_date"].head()

0    2019-06-13 18:02:34
1    2019-07-13 13:05:29
2    2019-05-11 19:42:07
3    2019-02-12 23:40:45
4    2019-04-22 03:09:35
Name: purchase_date, dtype: object

In [244]:
uriage_data["purchase_date"] = pd.to_datetime(uriage_data["purchase_date"])
uriage_data["purchase_month"] = uriage_data["purchase_date"].dt.strftime("%Y%m")
res = uriage_data.pivot_table(index="purchase_month", columns="item_name", aggfunc="size", fill_value=0)

In [245]:
res

item_name,商品W,商 品 n,商品E,商品M,商品P,商品S,商品W,商品X,商 品O,商 品Q,...,商品k,商品l,商品o,商品p,商品r,商品s,商品t,商品v,商品x,商品y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,0,1,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
201903,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
201905,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
201906,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
201907,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,2,0,0,0,0,0

In [246]:
res = uriage_data.pivot_table(index="purchase_month", columns="item_name", values="item_price", aggfunc="sum", fill_value=0)
res

item_name,商品W,商 品 n,商品E,商品M,商品P,商品S,商品W,商品X,商 品O,商 品Q,...,商品k,商品l,商品o,商品p,商品r,商品s,商品t,商品v,商品x,商品y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,0,1400,0,0,0,0,0,0,0,0,...,1100,1200,1500,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,0,2400,0,0,...,0,0,0,0,0,1900,2000,2200,0,0
201903,0,0,500,1300,1600,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,2300,0,0,0,0,0,0,0,0,1700,...,0,0,0,0,0,1900,0,0,0,0
201905,0,0,0,0,0,1900,0,0,0,0,...,0,1200,0,0,0,0,0,0,0,2500
201906,0,0,0,0,0,0,2300,0,0,0,...,0,0,0,1600,0,0,0,0,2400,0
201907,0,0,0,0,0,0,0,0,0,0,...,0,0,1500,0,1800,0,0,0,0,0

In [247]:
len(pd.unique(uriage_data["item_name"]))

99

# 商品名の揺れの補正

In [248]:
uriage_data["item_name"] = uriage_data["item_name"].str.upper()
uriage_data["item_name"] = uriage_data["item_name"].str.replace("　","")
uriage_data["item_name"] = uriage_data["item_name"].str.replace(" ", "")
uriage_data.sort_values(by=["item_name"], ascending=True)

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1748 2019-05-19 20:22:22       商品A       100.0          松川綾女         201905
223  2019-06-25 08:13:20       商品A       100.0           板橋隆         201906
1742 2019-06-13 16:03:17       商品A       100.0          小平陽子         201906
1738 2019-02-10 00:28:43       商品A       100.0          松田浩正         201902
...                  ...       ...         ...           ...            ...
2880 2019-04-22 00:36:52       商品Y         NaN          田辺光洋         201904
2881 2019-04-30 14:21:09       商品Y         NaN          高原充則         201904
1525 2019-01-24 10:27:23       商品Y      2500.0         五十嵐春樹         201901
1361 2019-05-28 13:45:32       商品Y      2500.0         大崎ヒカル         201905
3    2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902

[2999 rows x 5 columns]

In [249]:
len(pd.unique(uriage_data["item_name"]))

26

In [250]:
pd.unique(uriage_data["item_name"])

array(['商品A', '商品S', '商品Z', '商品V', '商品O', '商品U', '商品L', '商品C', '商品I',
       '商品R', '商品X', '商品G', '商品P', '商品Q', '商品Y', '商品N', '商品W', '商品E',
       '商品K', '商品B', '商品F', '商品D', '商品M', '商品H', '商品T', '商品J'],
      dtype=object)

# 欠損値の補完

In [251]:
uriage_data.isnull().any(axis=0)

purchase_date     False
item_name         False
item_price         True
customer_name     False
purchase_month    False
dtype: bool

In [252]:
for trg in list(uriage_data["item_name"].sort_values().unique()):
    max_value = uriage_data.loc[uriage_data["item_name"]==trg]["item_price"].max() 
    min_value = uriage_data.loc[uriage_data["item_name"]==trg]["item_price"].min(skipna=False)
    print(f' the max value of {trg} is {max_value}, the min value is {min_value} ')

 the max value of 商品A is 100.0, the min value is nan
 the max value of 商品B is 200.0, the min value is nan
 the max value of 商品C is 300.0, the min value is nan
 the max value of 商品D is 400.0, the min value is nan
 the max value of 商品E is 500.0, the min value is nan
 the max value of 商品F is 600.0, the min value is nan
 the max value of 商品G is 700.0, the min value is nan
 the max value of 商品H is 800.0, the min value is nan
 the max value of 商品I is 900.0, the min value is nan
 the max value of 商品J is 1000.0, the min value is nan
 the max value of 商品K is 1100.0, the min value is nan
 the max value of 商品L is 1200.0, the min value is nan
 the max value of 商品M is 1300.0, the min value is nan
 the max value of 商品N is 1400.0, the min value is nan
 the max value of 商品O is 1500.0, the min value is nan
 the max value of 商品P is 1600.0, the min value is nan
 the max value of 商品Q is 1700.0, the min value is nan
 the max value of 商品R is 1800.0, the min value is nan
 the max value of 商品S is 1900.0, the min value is nan
 the max value of 商品T is 2000.0, the min value is nan
 the max value of 商品U is 2100.0, the min value is nan
 the max value of 商品V is 2200.0, the min value is nan
 the max value of 商品W is 2300.0, the min value is nan
 the max value of 商品X is 2400.0, the min value is nan
 the max value of 商品Y is 2500.0, the min value is nan
 the max value of 商品Z is 2600.0, the min value is 2600.0

In [253]:
flg_is_null = uriage_data["item_price"].isnull()
print(flg_is_null)
for trg in list(uriage_data.loc[ flg_is_null, "item_name" ].unique()):
    print(trg)
    price = uriage_data.loc[ ( ~flg_is_null ) & ( uriage_data["item_name"] == trg ), "item_price" ].max()
    uriage_data.loc[ ( flg_is_null ) & ( uriage_data["item_name"] == trg ), "item_price"] = price

0       False
1        True
2        True
3       False
4        True
        ...
2994    False
2995    False
2996     True
2997     True
2998    False
Name: item_price, Length: 2999, dtype: bool
商品S
商品A
商品P
商品N
商品W
商品R
商品I
商品L
商品F
商品O
商品B
商品C
商品V
商品Q
商品U
商品K
商品T
商品X
商品E
商品M
商品G
商品J
商品D
商品H
商品Y

In [254]:
uriage_data.isnull().any(axis=0)

purchase_date     False
item_name         False
item_price        False
customer_name     False
purchase_month    False
dtype: bool

In [255]:
for trg in list(uriage_data["item_name"].sort_values().unique()):
    max_value = uriage_data.loc[uriage_data["item_name"]==trg]["item_price"].max() 
    min_value = uriage_data.loc[uriage_data["item_name"]==trg]["item_price"].min(skipna=False)
    print(f' the max value of {trg} is {max_value}, the min value is {min_value} ')

 the max value of 商品A is 100.0, the min value is 100.0
 the max value of 商品B is 200.0, the min value is 200.0
 the max value of 商品C is 300.0, the min value is 300.0
 the max value of 商品D is 400.0, the min value is 400.0
 the max value of 商品E is 500.0, the min value is 500.0
 the max value of 商品F is 600.0, the min value is 600.0
 the max value of 商品G is 700.0, the min value is 700.0
 the max value of 商品H is 800.0, the min value is 800.0
 the max value of 商品I is 900.0, the min value is 900.0
 the max value of 商品J is 1000.0, the min value is 1000.0
 the max value of 商品K is 1100.0, the min value is 1100.0
 the max value of 商品L is 1200.0, the min value is 1200.0
 the max value of 商品M is 1300.0, the min value is 1300.0
 the max value of 商品N is 1400.0, the min value is 1400.0
 the max value of 商品O is 1500.0, the min value is 1500.0
 the max value of 商品P is 1600.0, the min value is 1600.0
 the max value of 商品Q is 1700.0, the min value is 1700.0
 the max value of 商品R is 1800.0, the min value is 1800.0
 the max value of 商品S is 1900.0, the min value is 1900.0
 the max value of 商品T is 2000.0, the min value is 2000.0
 the max value of 商品U is 2100.0, the min value is 2100.0
 the max value of 商品V is 2200.0, the min value is 2200.0
 the max value of 商品W is 2300.0, the min value is 2300.0
 the max value of 商品X is 2400.0, the min value is 2400.0
 the max value of 商品Y is 2500.0, the min value is 2500.0
 the max value of 商品Z is 2600.0, the min value is 2600.0

# 顧客名の揺れを補正

In [300]:
kokyaku_data = pd.read_excel("kokyaku_daicho.xlsx")
kokyaku_data.head()

      顧客名        かな  地域                     メールアドレス         登録日
0   須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com  2018/01/04
1  岡田　 敏也   おかだ としや  E市   okada_toshiya@example.com       42782
2    芳賀 希    はが のぞみ  A市     haga_nozomi@example.com  2018/01/07
3   荻野  愛    おぎの あい  F市        ogino_ai@example.com       42872
4   栗田 憲一  くりた けんいち  E市  kurita_kenichi@example.com       43127

In [301]:
kokyaku_data["顧客名"].head()

0     須賀ひとみ
1    岡田　 敏也
2      芳賀 希
3     荻野  愛
4     栗田 憲一
Name: 顧客名, dtype: object

In [302]:
uriage_data["customer_name"].head()

0    深井菜々美
1     浅田賢二
2     南部慶二
3     麻生莉緒
4     平田鉄二
Name: customer_name, dtype: object

In [303]:
kokyaku_data["顧客名"] = kokyaku_data["顧客名"].str.replace("　", "")
kokyaku_data["顧客名"] = kokyaku_data["顧客名"].str.replace(" ", "")
kokyaku_data["顧客名"].head()

0    須賀ひとみ
1     岡田敏也
2      芳賀希
3      荻野愛
4     栗田憲一
Name: 顧客名, dtype: object

In [304]:
a = kokyaku_data["登録日"]
print(a)
b = kokyaku_data["登録日"].astype(str)
print(b)
flg_is_serial = kokyaku_data["登録日"].astype(str).str.isdigit()
print(flg_is_serial)
flg_is_serial.sum()

0      2018/01/04
1           42782
2      2018/01/07
3           42872
4           43127
          ...
195    2017/06/20
196    2018/06/20
197    2017/04/29
198    2019/04/19
199    2019/04/23
Name: 登録日, Length: 200, dtype: object
0      2018/01/04
1           42782
2      2018/01/07
3           42872
4           43127
          ...
195    2017/06/20
196    2018/06/20
197    2017/04/29
198    2019/04/19
199    2019/04/23
Name: 登録日, Length: 200, dtype: object
0      False
1       True
2      False
3       True
4       True
       ...
195    False
196    False
197    False
198    False
199    False
Name: 登録日, Length: 200, dtype: bool

22

In [306]:
fromSerial = pd.to_timedelta(kokyaku_data.loc[flg_is_serial, "登録日"].astype("float") - 2, unit="D") + pd.to_datetime('1900/1/1')
fromSerial

1     2017-02-16
3     2017-05-17
4     2018-01-27
21    2017-07-04
27    2017-06-15
47    2017-01-06
49    2017-07-13
53    2017-04-08
76    2018-03-29
80    2018-01-10
99    2017-05-30
114   2018-06-03
118   2018-01-29
122   2018-04-16
139   2017-05-25
143   2017-03-24
155   2017-01-19
172   2018-03-22
179   2017-01-08
183   2017-07-24
186   2018-07-13
192   2018-06-08
Name: 登録日, dtype: datetime64[ns]

In [307]:
fromString = pd.to_datetime(kokyaku_data.loc[~flg_is_serial, "登録日"])
fromString

0     2018-01-04
2     2018-01-07
5     2017-06-20
6     2018-06-11
7     2017-05-19
         ...
195   2017-06-20
196   2018-06-20
197   2017-04-29
198   2019-04-19
199   2019-04-23
Name: 登録日, Length: 178, dtype: datetime64[ns]

In [308]:
kokyaku_data["登録日"] = pd.concat([fromSerial, fromString])
kokyaku_data

       顧客名           かな  地域                         メールアドレス        登録日
0    須賀ひとみ       すが ひとみ  H市         suga_hitomi@example.com 2018-01-04
1     岡田敏也      おかだ としや  E市       okada_toshiya@example.com 2017-02-16
2      芳賀希       はが のぞみ  A市         haga_nozomi@example.com 2018-01-07
3      荻野愛       おぎの あい  F市            ogino_ai@example.com 2017-05-17
4     栗田憲一     くりた けんいち  E市      kurita_kenichi@example.com 2018-01-27
..     ...          ...  ..                             ...        ...
195   川上りえ      かわかみ りえ  G市        kawakami_rie@example.com 2017-06-20
196   小松季衣      こまつ としえ  E市      komatsu_toshie@example.com 2018-06-20
197   白鳥りえ      しらとり りえ  F市       shiratori_rie@example.com 2017-04-29
198  大西隆之介  おおにし りゅうのすけ  H市  oonishi_ryuunosuke@example.com 2019-04-19
199   福井美希       ふくい みき  D市         fukui_miki1@example.com 2019-04-23

[200 rows x 5 columns]

In [313]:
kokyaku_data["登録年月"] = kokyaku_data["登録日"].dt.strftime("%Y%m")
rslt = kokyaku_data.groupby("登録年月").count()["顧客名"]
print(rslt)
print(rslt.sum())
print(len(kokyaku_data))

登録年月
201701    15
201702    11
201703    14
201704    15
201705    14
201706    13
201707    17
201801    13
201802    15
201803    17
201804     5
201805    19
201806    13
201807    17
201904     2
Name: 顧客名, dtype: int64
200
200

In [ ]:
flg_is_serial = kokyaku_data["登録日"].astype(str).str.isdigit()
flg_is_serial

# Test

In [151]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],

                  index=['cobra', 'viper', 'sidewinder'],

                  columns=['max_speed', 'shield'])

df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [152]:
df.loc[[True, True, False]]

       max_speed  shield
cobra          1       2
viper          4       5

In [153]:
list(df.loc[[True, True, False], "max_speed"])

[1, 4]

In [154]:
print(flg_is_null)

0       False
1        True
2        True
3       False
4        True
        ...
2994    False
2995    False
2996     True
2997     True
2998    False
Name: item_price, Length: 2999, dtype: bool

In [155]:
print(~flg_is_null)

0        True
1       False
2       False
3        True
4       False
        ...
2994     True
2995     True
2996    False
2997    False
2998     True
Name: item_price, Length: 2999, dtype: bool

In [203]:
df = pd.DataFrame([[1, "a"],[None, "a"], [None, "c"], [None, "c"], [2, "c"]], index=["row1", "row2", "row3", "row4", "row5"], columns=["num", "name"])
df

      num name
row1  1.0    a
row2  NaN    a
row3  NaN    c
row4  NaN    c
row5  2.0    c

In [206]:
df.loc[[True, True, True, True, True],"num"].max()

2.0

In [214]:
flg_is_null = df["num"].isnull()
print(flg_is_null)
for trg in list(df.loc[flg_is_null, "name"].unique()):
    print(trg)
    num = df.loc[ (~flg_is_null) & (df["name"] == trg), "num" ].max()
    df.loc[(flg_is_null) & (df["name"] == trg), "num"] = num

row1    False
row2     True
row3     True
row4     True
row5    False
Name: num, dtype: bool
a
c

In [217]:
df

      num name
row1  1.0    a
row2  1.0    a
row3  2.0    c
row4  2.0    c
row5  2.0    c

In [275]:
"3".isdigit()

True

In [276]:
"e".isdigit()

False